@charset "UTF-8";

/* Typical Device Breakpoints */

/* Global Setting */
@media all {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    main {
        background: rgba(255, 255, 255, 0.5);
        margin: 0 auto;
        padding: 15px;
        border-radius: 15px;
        margin: 30px;
    }

    h1 {
        text-align: center;
    }

    img {
        margin: 0 auto;
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background: #000 url(../img/back-phone.jpg);
    }

    img#phone {
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background: url(../img/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background: url(../img/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background: url(../img/back-pc.jpg);
    }

    img#tablet {
        display: none;
    }

    img#pc {
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background: url(../img/back-tv.jpg);
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}
