@charset "UTF-8";

/* Configurações Gerais */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    padding: 20px;
    text-shadow: 2px 2px 8px #000;
}
