@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    font-size: 1.5em;
}

main {
    padding-top: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 0.9em;
    font-weight: normal;
}

section {
    margin-bottom: 30px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.item {
    background-color: #00997f;
    margin: 5px;
    text-align: center;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1;
}
